.vs/

bin/
obj/

*.user
*.suo

/Debug/
/Release/

*.log
*.tmp

TestResults/

.fake

node_modules/
.venv/
__pycache__/
.pytest_cache/


# Docker (Andry)

.dockerignore
.Dockerfile